#footer-container {
    text-align: center;
}
#gotoMonth {
    position: absolute;
}
#today {
    display: inline-block;
}
#koyomi a#today:hover {
    background-color: transparent;
}
#tags .tag {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0.2em 0.5em;
}
#tags .nijuShisekki {
    background-color: #ddffdd;
    border-color: green;
    color: darkgreen;
}
#tags .goodDay {
    background-color: #ddddff;
    border-color: blue;
    color: darkblue;
}
#tags .badDay {
    background-color: #dddddd;
    border-color: darkgray;
    color: gray;
}
.marked {
    background-color: yellow;
}
#top-container {
    position: fixed;
}
#peatix a {
    border: 1px solid #669966;
    background: linear-gradient(to bottom, #99cc99, #66cc66);
    background: -webkit-linear-gradient(to bottom, #99cc99, #66cc66);
    color: white;
    border-radius: 0.25em;
    display: inline-block;
    margin: 0.25em auto 0;
    padding: 0.25em 0.5em;
    text-shadow: 1px 1px #339933;
}

/* month */
#monthlyCalendar {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.week {
    display: table-row;
}
.week:first-child { height: auto; }
.dayOfWeek {
    border-bottom: 1px solid #999999;
    display: table-cell;
}
.week .dateContainer {
    display: table-cell;
    vertical-align: top;
}
.week > * { color: #333333; }
.week > *:nth-child(1) { color: #ff6633; }
.week > *:nth-child(7) { color: #3366ff; }
.newmoon .date {
    background-color: #333333;
    color: white;
}
#monthlyCalendar .date {
    border: 2px solid transparent;
    margin: 0 auto;
}
#monthlyCalendar .fullmoon .date {
    background-color: white;
    border: 2px solid #333333;
    color: #333333;
}
.today {
    background-color: #eeeeee;
}
.today .date {
    font-weight: bold;
    text-decoration: underline;
}
#monthlyCalendar .tag {
    color: #666666;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 4em;
}
#monthlyCalendar .sekku,
#monthlyCalendar .zassetsu {
    color: #ff6633;
}
#monthlyCalendar .nijuShisekki {
    background-color: #ddffdd;
}
#monthlyCalendar .goodDay {
    background-color: #ddddff;
}
#monthlyCalendar .badDay {
    color: #cccccc;
}
#modeContainer {
    position: fixed;
    
    background-color: #999999;
    border-radius: 2em;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    color: white;
}
#mode {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0.5em 1.5em 0.5em 1em;
    text-align: center;
}
#modeContainer label {
    margin: 0 1em 0 -1.5em;
}

@media (min-width: 769px) {
    /* PC・タブレット用表示 */
    #gotoMonth {
        left: 2em;
        top: 2em;
    }
    #gotoMonth a {
        font-size: 1.5em;
    }
    #tags {
        margin: 0.1em auto 1em auto;
    }
    #explanation {
        margin: 2em auto;
        width: 42em;
    }
    #top-container {
        right: 2em;
        bottom: 2em;
    }

    /* month */
    .month #old-date-month {
        margin-top: 1.5em;
    }
    #koyomi {
        margin: 0 2em;
    }
    .week .dateContainer {
        font-size: 2vh;
        height: 12vh;
    }
    #monthlyCalendar .date {
        border-radius: 7vh;
        font-size: 4vh;
        line-height: 7vh;
        width: 7vh;
        height: 7vh;
    }
    #modeContainer {
        right: 2em;
        bottom: 2em;
    }
}
@media (max-width: 768px) {
    /* モバイル用デザイン */
    #gotoMonth {
        font-size: 6vw;
        left: 7vw;
        top: 6vw;
    }
    #tags {
        margin: 1vw auto;
    }
    #explanation {
        margin: 5vw;
        width: auto;
    }
    #top-container {
        left: 7vw;
        bottom: 7vw;
    }
    #top-container .button__link {
        font-size: 5vw;
    }

    /* month */
    .month #old-date-month {
        margin-top: 8vw;
    }
    .week .dateContainer {
        font-size: 3vw;
        height: 18vw;
    }
    #monthlyCalendar .date {
        border-radius: 11vw;
        font-size: 6vw;
        line-height: 11vw;
        width: 11vw;
        height: 11vw;
    }
    #modeContainer {
        font-size: 4vw;
        right: 7vw;
        bottom: 7vw;
    }
}

