#footer-container {
    text-align: center;
}
#gotoMonth {
    position: absolute;
}
#today {
    display: inline-block;
}
#koyomi a#today:hover {
    background-color: transparent;
}
.box {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    line-height: 1.0;
}
a.box:nth-child(2n):hover {
    background-color:#333333;
}
.box {
    background-color: #666666;
    color: white;
    display: inline-block;
    position: relative;
}
.box .title {
    color: #cccccc;
    text-align: left;
}
.box div:last-child {
    font-weight: bold;
    position: absolute;
    text-align: right;
}
.box:nth-child(2n+1) {
    background-color: #999999;
}
.box:nth-child(2n+1) .title {
    color: white;
}
.tag {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0.2em 0.5em;
}
.nijuShisekki {
    background-color: #ddffdd;
    border-color: green;
    color: darkgreen;
}
.goodDay {
    background-color: #ddddff;
    border-color: blue;
    color: darkblue;
}
.badDay {
    background-color: #dddddd;
    border-color: darkgray;
    color: gray;
}
#toolbar {
    position: fixed;
    top: -16.6vw;
    left: 0;
    opacity: 0;
    transition: all 0.25s;
    z-index: 2;
}
#toolbar.visible {
    top: 0;
    opacity: 1;
}
#toolbar .box {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 16.6vw;
    height: 16.6vw;
}
#explanation {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 1em;
}
#explanation h2 {
    float: left;
    font-size: 2em;
    margin: 0 0.5em 0 0;
    text-align: right;
    vertical-align: top;
}
#explanation p {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
#explanation table {
    border: 2px solid #333333;
    border-collapse: collapse;
    clear: both;
    color: #333333;
    margin: 1em 0 0 0;
    width: 100%;
}
#explanation td,
#explanation th {
    background-color: white;
    border: 1px solid #666666;
}
#explanation th {
    font-size: 1.5em;
    line-height: 1.0;
    padding: 0.15em;
    vertical-align: center;
    white-space: nowrap;
}
#explanation hr {
    clear: both;
    border: none;
    border-bottom: 1px dotted #999999;
}
#explanation .ruby {
    font-size: 0.5em;
    position: relative;
    z-index: 1;
}
.marked {
    background-color: yellow;
}
#top-container {
    position: fixed;
}
#top {
    text-align: center;
    text-decoration: none;
}
@media (min-width: 769px) {
    /* PC・タブレット用表示 */
    #gotoMonth {
        left: 2em;
        top: 2em;
    }
    #gotoMonth a {
        font-size: 1.5em;
    }
    .box {
        font-size: 1.8em;
        margin: 0.3em;
        padding: 0.1em;
        width: 3.2em;
        height: 3.2em;
    }
    .box .title {
        font-size: 0.75em;
    }
    .box div:last-child {
        right: 0.1em;
        bottom: 0.1em;
    }
    #tags {
        margin: 0.1em auto 1em auto;
    }
    #toolbar {
        width: 42em;
        margin-left: calc((100% - 42em) / 2);
        margin-left: -webkit-calc((100% - 42em) / 2);
        margin-right: auto;
    }
    #toolbar .box {
        width: 16.66%;
        height: 2em;
    }
    #explanation {
        padding: 1em 3em;
        margin: 2em auto;
        width: 36em;
    }
    #explanation hr {
        margin: 1em -1.5em;
    }
    #top-container {
        right: 2em;
        bottom: 2em;
    }
}
@media (max-width: 768px) {
    /* モバイル用デザイン */
    #gotoMonth {
        font-size: 6vw;
        left: 7vw;
        top: 6vw;
    }
    .box {
        font-size: 7vw;
        margin: 2vw;
        padding: 1vw;
        width: 24vw;
        height: 24vw;
    }
    .box .title {
        font-size: 5vw;
    }
    .box div:last-child {
        right: 1vw;
        bottom: 1vw;
    }
    #tags {
        margin: 1vw auto;
    }
    #toolbar .nattin {
        white-space: nowrap;
        width: 2em;
        overflow: hidden;
    }
    #explanation {
        margin: 5vw;
        width: auto;
    }
    #explanation hr {
        margin: 1em 0;
    }
    #top-container {
        left: 7vw;
        bottom: 7vw;
    }
    #top {
        font-size: 5vw;
    }
}

