body {
    color: #666666;
    font-family: "Times New Roman", "Hiragino Mincho ProN", serif;
}
#koyomi,
#footer-container {
    text-align: center;
}
#today {
    display: inline-block;
}
h1 {
    color: #333333;
    font-size: 1em;
    margin: 0;
    margin-top: 0;
}
h1 #date {
    margin: 0;
    line-height: 1em;
}
h1 #date .month,
h1 #date .day {
    font-size: 1.5em;
}
.dayOfWeek0 { color: #ff6633; }
.dayOfWeek6 { color: #3366ff; }
.navi {
    background-color: #999999;
    color: white;
    display: inline-block;
}
.navi, .box {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}
#koyomi a:link {
    text-decoration: none;
}
#koyomi a:hover {
    background-color: #cccccc;
}
#koyomi a#today:hover {
    background-color: transparent;
}
#koyomi a.box:nth-child(2n):hover {
    background-color:#333333;
}
#oldDate {
    margin: 0;
}
.box {
    background-color: #666666;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
}
.box .title {
    color: #cccccc;
    font-weight: normal;
    margin: 0;
    text-align: left;
}
.box:nth-child(2n+1) {
    background-color: #999999;
}
.box:nth-child(2n+1) .title {
    color: white;
}
#nijuShisekki {
    display: block;
}
#explanation {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 1em;
}
#explanation h2 {
    float: left;
    font-size: 2em;
    margin: 0 0.5em 0 0;
    text-align: right;
    vertical-align: top;
}
#explanation p {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
#explanation table {
    border: 2px solid #666666;
    border-collapse: collapse;
    clear: both;
    margin: 1em 0 0 0;
    width: 100%;
}
#explanation td,
#explanation th {
    background-color: white;
    border: 1px solid #999999;
}
#explanation th {
    font-size: 1.5em;
    vertical-align: center;
    white-space: nowrap;
}
#explanation hr {
    clear: both;
    border: none;
    border-bottom: 1px dotted #999999;
}
.marked {
    background-color: yellow;
}
#top-container {
    position: fixed;
}
#top {
    text-align: center;
    text-decoration: none;
}
address {
    font-style: normal;
    color: #999999;
    text-align: center;
}
@media (min-width: 769px) {
    /* PC・タブレット用表示 */
    .header, .footer {
        margin: 1em;
        width: 6.5em;
    }
    h1 {
        font-size: 1em;
    }
    h1 #date {
        font-size: 2em;
    }
    .navi {
        border-radius: 1em;
        font-size: 1.5em;
        margin: -1em 0.5em;
        padding: -1em;
        width: 1.5em;
        height: 1.5em;
    }
    #oldDate {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .box {
        font-size: 1.8em;
        margin: 0.3em;
        padding: 0.1em;
        width: 3.2em;
        height: 3.2em;
    }
    .box .title {
        font-size: 0.75em;
        margin-bottom: 1em;
    }
    #nijuShisekki {
        margin: 0.1em auto 1em auto;
        height: 1em;
    }
    #explanation {
        padding: 1em 3em;
        margin: 2em auto;
        width: 36em;
    }
    #explanation hr {
        margin: 1em -1.5em;
    }
    #top-container {
        right: 2em;
        bottom: 2em;
    }
    address {
        font-size: 1em;
    }
}
@media (max-width: 768px) {
    /* モバイル用デザイン */
    .header, .footer {
        margin: 5vw;
        width: 26vw;
    }
    h1 #date {
        font-size: 8vw;
    }
    #oldDate {
        font-size: 6vw;
        margin-bottom: 3vw;
    }
    .navi {
        border-radius: 8vw;
        font-size: 6vw;
        width: 9vw;
        height: 9vw;
    }
    #yesterday {
        float: left;
        margin-left: 5vw;
    }
    #tomorrow {
        float: right;
        margin-right: 5vw;
    }
    .box {
        font-size: 7vw;
        margin: 2vw;
        padding: 1vw;
        width: 24vw;
        height: 24vw;
    }
    .box .title {
        font-size: 5vw;
        margin-bottom: 7vw;
    }
    #nijuShisekki {
        margin: 1vw auto;
        height: 8vw;
    }
    #explanation {
        margin: 5vw;
        width: auto;
    }
    #explanation hr {
        margin: 1em 0;
    }
    #top-container {
        left: 7vw;
        bottom: 7vw;
    }
    #top {
        font-size: 5vw;
    }
    address {
        font-size: 4vw;
    }
}