#monthlyCalendar {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.week {
    display: table-row;
}
.week:first-child { height: auto; }

.dayOfWeek {
    border-bottom: 1px solid #999999;
    display: table-cell;
}

.week .dateContainer {
    display: table-cell;
    vertical-align: top;
}
.week > * { color: #333333; }
.week > *:nth-child(1) { color: #ff6633; }
.week > *:nth-child(7) { color: #3366ff; }

.newmoon .date {
    background-color: #333333;
    color: white;
}
#monthlyCalendar .date {
    border: 2px solid transparent;
    margin: 0 auto;
}
#monthlyCalendar .fullmoon .date {
    background-color: white;
    border: 2px solid #333333;
    color: #333333;
}
.today {
    background-color: #eeeeee;
}
.today .date {
    font-weight: bold;
    text-decoration: underline;
}
.tag {
    color: #666666;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 4em;
}
.sekku {
    color: #ff6633;
}
.nijuShisekki {
    background-color: #ddffdd;
}
.goodDay {
    background-color: #ddddff;
}
.badDay {
    color: #cccccc;
}
@media (min-width: 769px) {
    /* PC・タブレット用表示 */
    h1 {
        margin-top: 1.5em;
    }
    #koyomi {
        margin: 0 2em;
    }
    .week .dateContainer {
        font-size: 2vh;
        height: 12vh;
    }
    #monthlyCalendar .date {
        border-radius: 7vh;
        font-size: 4vh;
        line-height: 7vh;
        width: 7vh;
        height: 7vh;
    }
}
@media (max-width: 768px) {
    /* モバイル用デザイン */
    h1 {
        margin-top: 8vw;
    }
    .week .dateContainer {
        font-size: 3vw;
        height: 18vw;
    }
    #monthlyCalendar .date {
        border-radius: 11vw;
        font-size: 6vw;
        line-height: 11vw;
        width: 11vw;
        height: 11vw;
    }
}
